{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>与世界分享你的图书</h3>
<a href="{{ url_for('.lend') }}" class="btn btn-lg">我要出借</a>
</div>

<img class="img-responsive center-block" src="../static/lend-1.jpg" width="50%">
<div class="text-center">
    <form style="display: inline;" action="{{url_for('.search')}}" method="post" name="search">
        {{g.search_form.hidden_tag()}}
        {{g.search_form.search(class="input-lg")}}
        <input type="submit" value="搜索">
    </form>
</div>

<div>
    <h1>书屋</h1>
    <div class="row">
    {% for lend in notborrowed_book %}
        <div class="col-xs-2 col-md-2">
            <div class="thumbnail">
                <a href="{{ url_for('.book', book_isbn=lend.book.ISBN)}}">
                    <img src="../static/{{ lend.book.ISBN }}.jpg" width="100%">
                </a>
            </div>
            <div>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.bookname }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.author }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.press }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.ISBN }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.published_date }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div>
    <h1>已被借的图书</h1>
    <div class="row">
    {% for lend in borrowed_book %}
        <div class="col-xs-2 col-md-2">
            <div class="thumbnail">
                <a href="{{ url_for('.book', book_isbn=lend.book.ISBN)}}">
                    <img src="../static/{{ lend.book.ISBN }}.jpg" width="100%">
                </a>
            </div>
            <div>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.bookname }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.author }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.press }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.ISBN }}</a>
                <a href="{{ url_for('.bookshop') }}">{{ lend.book.published_date }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div>
    <h1>求借(暂定)</h1>
</div>
<div class="col-md-12">
    <img class="img-responsive col-md-6" src="../static/lend-2.jpg" width="50%">
    <h1>有疑问请咨询</h1>
    <div class="btn btn-primary">按钮</div>
</div>


{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}