{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div>
    <div>
    <img class="img-responsive" src="../static/{{ book.ISBN }}.jpg" width="10%">
    <h2> 书本基础信息 </h2>
        <a href="{{ url_for('.bookshop') }}">{{ book.bookname }}</a>
        <a href="{{ url_for('.bookshop') }}">{{ book.author }}</a>
        <a href="{{ url_for('.bookshop') }}">{{ book.press }}</a>
        <a href="{{ url_for('.bookshop') }}">{{ book.ISBN }}</a>
        <a href="{{ url_for('.bookshop') }}">{{ book.published_date }}</a>
    </div>
    <div>
        <h2>出借人信息</h2>
        <h5>拥有此书用户：</h5>
        <ul>
            {% if not notborrowed_book %}
                <a>没有人有？向社区的同学问问他们有没有吧。</a>
            {% endif %}
            {% for lend in notborrowed_book %}
                <a>{{ lend.lender.username }}</a>
{#                <a href="{{ url_for('.order',lends_id=lend.id) }}" class="btn btn-primary">订购</a>#}

            <!-- 按钮触发模态框 -->
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">订购</button>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">借书订单</h4>
                        </div>
                        <div class="modal-body">是否确定提交借书订单</div>
                        <div class="modal-footer">
{#                            <button type="button" class="btn btn-primary" href="{{ url_for('.order',lends_id=lend.id) }}">提交</button>#}
                            <a href="{{ url_for('.order',lends_id=lend.id) }}" class="btn btn-primary">确定</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>



            {% endfor %}
        </ul>

        <ul>
            <h5>已经被借：</h5>
            {% for lend in borrowed_book %}
                <a>{{ lend.lender.username }}</a>
                {% if current_user.username == lend.borrower.username %}
                    <a href="{{ url_for('.order',lends_id=lend.id) }}" class="btn btn-danger">取消订购</a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{#    <div>#}
{#        <h3>留言区</h3>#}
{#        {{ wtf.quick_form(form) }}#}
{#    </div>#}
{#    <div class="post-tabs">#}
{#        <ul class="nav nav-tabs">#}
{#            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>#}
{#            {% if current_user.is_authenticated %}#}
{#            <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>#}
{#            {% endif %}#}
{#        </ul>#}
{#    {% include '_posts.html' %}#}
{#    </div>#}
{#    {% if pagination %}#}
{#        <div class="pagination">#}
{#            {{ macros.pagination_widget(pagination, '.index') }}#}
{#        </div>#}
{#    {% endif %}#}
    <div>
        <h2>基本详细信息</h2>
        <h3 style="color: #ff0000;">图书详情</h3>
        <br>
        <h3 style="color: #ff0000;">内容提要</h3>
    </div>

</div>
{% endblock %}
