{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky -{% endblock %}

{% block page_content %}
    <img class="img-responsive center-block" src="../static/lend-1.jpg" width="50%">
    <div class="text-center">
        <h1>出借我的图书</h1>
        <form style="display: inline;" action="{{url_for('.search')}}" method="post" name="search">
            {{g.search_form.hidden_tag()}}
            {{g.search_form.search}}
            <input type="submit" value="搜索">
        </form>
    </div>


{% endblock %}